        * {
            box-sizing: border-box;
        }
        
        a {
            text-decoration: none;
        }
        
        img {
            max-width: 100%;
            object-fit: cover;
        }
        
        label {
            cursor: pointer;
        }
        
        @font-face {
            font-family: 'OpenSans';
            src: local("OpenSans-Regular"), url('../fonts/OpenSans-Regular.woff2') format("woff2"), url('../fonts/OpenSans-Regular.woff') format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }
        
        @font-face {
            font-family: 'OpenSans';
            src: local("OpenSans-SemiBold"), url('../fonts/OpenSans-SemiBold.woff2') format("woff2"), url('../fonts/OpenSans-SemiBold.woff') format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }
        
        @font-face {
            font-family: 'OpenSans';
            src: local("OpenSans-Bold"), url('../fonts/OpenSans-Bold.woff2') format("woff2"), url('../fonts/OpenSans-Bold.woff') format("woff");
            font-weight: 700;
            font-style: normal;
            font-display: swap;
        }
        
        @font-face {
            font-family: 'OpenSans';
            src: local("OpenSans-italic"), url('../fonts/OpenSans-Italic.woff2') format("woff2"), url('../fonts/OpenSans-Italic.woff') format("woff");
            font-weight: 300;
            font-style: italic;
            font-display: swap;
        }
        
        body {
            font-family: 'OpenSans', sans-serif;
            max-width: 100%;
        }
        
         :root {
            --background-color: #000;
            --color-accent: #fff;
            --color-text: #333;
            --color-highlighted: #9D5CD0;
            --color-grey: #ECECEC;
            --color-small-text: #CACACA;
            --color-dark-grey: #999;
            --color-focus-active: #7943A4;
            --color-hover: #C283F3;
            --color-decor: #d1a9f0;
        }
        /* GLOB */
        
        picture {
            display: block;
            height: auto;
            width: 100%;
        }
        
        .visually-hidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
        }
        
        .list-reset {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        
        .btn-reset {
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        
        .site-title {
            margin: 0;
            margin-bottom: 15px;
            font-weight: normal;
            font-size: 48px;
            line-height: 65px;
            color: var(--color-text);
        }
        
        .site-descr {
            margin: 0;
            width: 67.5%;
            font-style: normal;
            font-size: 16px;
            line-height: 32px;
            color: var(--color-text);
        }
        
        .site-text {
            font-size: 18px;
            line-height: 25px;
            color: var(--color-accent);
        }
        
        .text-subtitle {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: var(--color-text);
        }
        
        .text-btn {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            border-radius: 100px;
        }
        
        .container {
            margin: 0 auto;
            padding: 0 15px;
            max-width: 1630px;
        }
        /* HEADER */
        
        .header {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
        }
        
        .header__top {
            background-color: var(--background-color);
        }
        
        .header__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 31px;
            padding-bottom: 28px;
        }
        
        .logo {
            display: inline-block;
        }
        
        .nav {
            display: flex;
        }
        
        .nav__header-list {
            display: flex;
            flex-wrap: wrap;
        }
        
        .nav__header-link {
            font-weight: 600;
        }
        
        .nav__header-link:hover {
            color: var(--color-hover);
            transition: color .3s ease-in-out;
        }
        
        .nav__header-link:focus {
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-focus-active);
            transition: all .3s ease-in-out;
        }
        
        .nav__header-link:active {
            color: var(--color-focus-active);
            background-color: transparent;
            transition: color .3s ease-in-out;
        }
        
        .nav__header-item:last-child {
            margin-right: 243px;
        }
        
        .nav__header-item:not(:last-child) {
            margin-right: 62px;
        }
        
        .header__btn-enter {
            position: relative;
            font-size: 18px;
            line-height: 25px;
            color: var(--color-accent);
        }
        
        .header__btn-enter:hover {
            color: var(--color-hover);
            transition: color .3s ease-in-out;
        }
        
        .header__btn-enter:focus {
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-focus-active);
            transition: all .3s ease-in-out;
        }
        
        .header__btn-enter:active {
            color: var(--color-focus-active);
            background-color: transparent;
            transition: color .3s ease-in-out;
        }
        
        .header__btn-icon {
            fill: currentColor;
        }
        
        .header__bottom {
            padding-top: 19px;
            padding-bottom: 21px;
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .header__bottom-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .header__dropdown {
            display: flex;
            flex-wrap: wrap;
        }
        
        .header__dropdown-item:not(:last-child) {
            margin-right: 97px;
        }
        
        .header__dropdown-item:first-child {
            margin-right: 93px;
        }
        
        .header__dropdown-item {
            position: relative;
        }
        
        .header__dropdown-btn {
            position: relative;
            font-weight: 400;
        }
        
        .header__dropdown-stroke {
            stroke: currentColor;
        }
        
        .header__dropdown-btn:hover {
            color: var(--color-highlighted);
            transition: all .3s ease-in-out;
        }
        
        .header__dropdown-btn:focus {
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-focus-active);
            transition: all .3s ease-in-out;
        }
        
        .header__dropdown-btn:active {
            background-color: transparent;
            color: var(--color-focus-active);
            transition: color .3s ease-in-out;
        }
        
        .header__dropdown-btn.active--btn .header__dropdown-arrow {
            transform: rotate(180deg);
        }
        
        .container-dropdown {
            display: none;
            position: absolute;
            top: 48px;
            left: 0;
            z-index: 10;
            width: 300px;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.6);
        }
        
        .container-dropdown__item:not(:last-child) {
            margin-bottom: 20px;
        }
        
        .container-dropdown__link {
            position: relative;
            display: inline-block;
            padding: 12px 14px;
            width: 220px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: var(--color-accent);
        }
        
        .container-dropdown__link:hover {
            outline: 2px solid var(--color-highlighted);
        }
        
        .container-dropdown__link:focus {
            outline: 2px solid var(--color-highlighted);
        }
        
        .container-dropdown__link:active::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
            outline: 2px solid #D1A9F0;
        }
        
        .active-list--item {
            display: block;
        }
        
        .container-dropdown {
            padding: 40px;
        }
        
        .header__form {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .header__form-btn {
            width: 27px;
            height: 27px;
        }
        
        .header__form-btn:focus {
            outline: none;
        }
        
        .header__form-icon {
            margin-top: 7px;
        }
        
        .header__form-search {
            padding-right: 8px;
            margin-top: 2px;
            margin-left: 5px;
            color: var(--color-accent);
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--color-accent);
        }
        
        .header__form-search::placeholder {
            font-size: 18px;
            line-height: 25px;
            color: rgba(255, 255, 255, 0.85);
        }
        
        .header__form-search:hover {
            border-bottom: 1px solid var(--color-hover);
            transition: all .2s ease-in-out;
        }
        
        .header__form-search:focus {
            outline: none;
            border-bottom: 1px solid var(--color-hover);
            transition: all .2s ease-in-out;
        }
        
        .header__form-search:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }
        
        .header__form-search:active {
            border-bottom: 1px solid var(--color-focus-active);
            transition: all .2s ease-in-out;
        }
        
        .simplebar-track.simplebar-vertical {
            margin: 40px 19px 40px 0;
            width: 2px;
            background-color: var(--background-color);
        }
        
        .simplebar-scrollbar:before {
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            height: 28px;
            opacity: 1;
            background-color: var(--color-accent);
            border-radius: 0;
        }
        
        .simplebar-scrollbar.simplebar-visible::before {
            height: 28px;
            opacity: 1;
        }
        
        .tintoretto {
            background-image: url('../img/header/tintoretto.jpg');
        }
        
        .fridrih {
            background-image: url('../img/header/fridrih.jpg');
        }
        
        .leonardo {
            background-image: url('../img/header/leonardo.jpg');
        }
        
        .veroco {
            background-image: url('../img/header/veroco.jpg');
        }
        
        .mone {
            background-image: url('../img/header/mone.jpg');
        }
        
        .sisley {
            background-image: url('../img/header/sisley.jpg');
        }
        
        .mane {
            background-image: url('../img/header/mane.jpg');
        }
        
        .renuar {
            background-image: url('../img/header/renuar.jpg');
        }
        
        .vangog {
            background-image: url('../img/header/vangog.jpg');
        }
        
        .sezan {
            background-image: url('../img/header/sezan.jpg');
        }
        
        .gogen {
            background-image: url('../img/header/gogen.jpg');
        }
        
        .sera {
            background-image: url('../img/header/sera.jpg');
        }
        
        .cand {
            background-image: url('../img/header/cand.jpg');
        }
        
        .marinet {
            background-image: url('../img/header/marinetti.jpg');
        }
        
        .malevich {
            background-image: url('../img/header/malevich.jpg');
        }
        
        .picaso {
            background-image: url('../img/header/picaso.jpg');
        }
        
        .cara {
            background-image: url('../img/header/cara.jpg');
        }
        
        .pratela {
            background-image: url('../img/header/pratela.jpg');
        }
        
        .severin {
            background-image: url('../img/header/severin.jpg');
        }
        
        .bala {
            background-image: url('../img/header/bala.jpg');
        }
        /* Бургер */
        
        .header__search-btn {
            display: none;
        }
        
        .header__btn-enter-burger {
            display: none;
        }
        
        .header__btn-enter-burger:hover {
            color: var(--color-hover);
        }
        
        .header__btn-enter-burger:focus {
            color: var(--color-accent);
            background-color: var(--color-highlighted);
            outline: 2px solid var(--color-focus-active);
            outline-offset: 4px;
            transition: all .2s ease-in-out;
        }
        
        .header__btn-enter-burger:active {
            color: var(--color-highlighted);
            border: 1px solid var(--color-highlighted);
            background-color: transparent;
            outline: none;
            transition: all .2s ease-in-out;
        }
        
        .burger {
            display: none;
            position: relative;
            width: 32px;
            height: 28px;
        }
        
        .burger__line {
            position: absolute;
            top: 0;
            left: 0;
            width: 110%;
            height: 4px;
            background-color: var(--color-accent);
        }
        
        .burger__line::before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 28px;
            height: 4px;
            background-color: var(--color-accent);
        }
        
        .burger__line::after {
            content: '';
            position: absolute;
            top: 23px;
            left: 0;
            width: 24px;
            height: 4px;
            background-color: var(--color-accent);
        }
        
        .nav__burger-close {
            display: none;
            position: relative;
            order: -1;
            width: 36px;
            height: 28px;
        }
        
        .nav__burger-close-line:first-child {
            position: absolute;
            top: 50%;
            left: 0;
            width: 36px;
            height: 4px;
            background-color: var(--color-accent);
            transform: rotate(45deg);
        }
        
        .nav__burger-close-line:last-child {
            position: absolute;
            top: 50%;
            left: 0;
            width: 36px;
            height: 4px;
            background-color: var(--color-accent);
            transform: rotate(-45deg);
        }
        
        .form {
            display: none;
        }
        /* HERO */
        
        .hero {
            position: relative;
        }
        
        .swiper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .swiper-slide {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .promo-1 {
            background-image: url('../img/hero/promo-slide-1.jpg');
        }
        
        .promo-2 {
            background-image: url('../img/hero/promo-slide-2.jpg');
        }
        
        .promo-3 {
            background-image: url('../img/hero/promo-slide-3.jpg');
        }
        
        .hero__container {
            position: relative;
            z-index: 1;
        }
        
        .hero__block-text {
            padding-top: 240px;
            padding-bottom: 123px;
            width: 600px;
        }
        
        .hero__text-title {
            margin: 0;
            margin-bottom: 19px;
            font-weight: bold;
            font-size: 72px;
            line-height: 84px;
            color: var(--color-accent);
        }
        
        .hero__descr {
            margin: 0;
            margin-bottom: 92px;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            color: var(--color-accent);
        }
        
        .hero__link {
            position: relative;
            display: inline-block;
            padding: 19px 32px;
            border: 3px solid var(--color-highlighted);
            color: var(--color-accent);
            background-color: var(--color-highlighted);
        }
        
        .hero__link:hover {
            border: 3px solid #D1A9F0;
            transition: all .2s ease-in-out;
        }
        
        .hero__link:focus {
            border: 3px solid transparent;
            outline-offset: 3px;
            outline: 2px solid var(--color-highlighted);
            transition: all .1s ease-in-out;
        }
        
        .hero__link:active {
            background-color: var(--color-focus-active);
            border: 3px solid #D1A9F0;
            outline: none;
            transition: all .2s ease-in-out;
        }
        /* ABOUT */
        
        .about {
            padding-top: 80px;
            padding-bottom: 71px;
        }
        /* GALLERY- */
        
        .gallery {
            padding-top: 83px;
            padding-bottom: 75px;
            background-image: url('../img/gallery/gallery-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        .gallery__title {
            color: var(--color-accent);
            line-height: 63px;
        }
        
        .gallery__text {
            display: inline-block;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: var(--color-accent);
        }
        
        .gallery__filter-block {
            margin-bottom: auto;
        }
        
        .gallery__castom {
            display: flex;
            flex-direction: column;
            margin-right: 50px;
            width: 25%;
            min-height: 426px;
        }
        
        .gallery__item:not(:last-child) {
            margin-bottom: 13px;
        }
        
        .gallery__label {
            color: var(--color-accent);
        }
        
        .gallery__label:hover {
            color: var(--color-hover);
            transition: color .2s ease-in-out;
        }
        
        .gallery__label:focus-within {
            color: var(--color-hover);
            transition: color .2s ease-in-out;
        }
        
        .gallery__checkbox {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            opacity: 0;
        }
        
        .gallery__custom-checkbox {
            position: relative;
            display: inline-block;
            margin-right: 8px;
            width: 12px;
            height: 12px;
            border: 1px solid currentColor;
            background-color: transparent;
        }
        
        .gallery__custom-checkbox::before {
            content: '';
            position: absolute;
            top: 30%;
            left: 30%;
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: currentColor;
            transform: scale(0);
            transition: transform .3s ease-in-out;
        }
        
        .gallery__checkbox:checked+.gallery__custom-checkbox::before {
            transform: scale(1);
            transition: transform .3s ease-in-out;
        }
        
        .gallery__checkbox:focus+.gallery__custom-checkbox::before {
            color: var(--color-highlighted);
        }
        
        .gallery__checkbox[type=checkbox]:checked+.gallery__custom-checkbox {
            color: var(--color-highlighted);
        }
        
        .gallery__checkbox[type=checkbox]:checked~.gallery__checkbox-text {
            color: var(--color-highlighted);
        }
        
        .gallery__list {
            padding-bottom: 12px;
        }
        /* -------------- */
        
        .choices {
            width: 100%;
        }
        
        .is-focused.choices {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        .choices__inner {
            min-height: auto;
        }
        
        .choices[data-type*=select-one] .choices__inner {
            padding: 0;
            padding-left: 12px;
            background-color: transparent;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: var(--color-accent);
            border: 1px solid var(--color-accent);
            border-radius: 6px;
        }
        
        .choices[data-type*=select-one]::after {
            right: 16px;
            height: 8px;
            width: 8px;
            border-width: 0px;
            border-right: 1px solid var(--color-accent);
            border-top: 1px solid var(--color-accent);
            transform: rotate(135deg);
            margin-top: -6px;
        }
        
        .choices[data-type*=select-one].is-open:after {
            border-width: 0px;
            border-left: 1px solid var(--color-accent);
            border-bottom: 1px solid var(--color-accent);
            margin-top: -2px;
        }
        
        .choices__list--dropdown.is-active {
            background-color: var(--background-color);
            color: var(--color-dark-grey);
            border: 1px solid var(--color-dark-grey);
            border-radius: 6px;
        }
        
        .choices__list--dropdown .choices__item {
            padding: 0;
            padding: 3px 0 4px 16px;
            font-size: 16px;
            line-height: 32px;
        }
        
        .choices__list--dropdown .choices__item:not(:last-child) {
            border-bottom: 1px solid var(--color-dark-grey);
        }
        
        #choices--selectCustom-item-choice-1 {
            display: none;
        }
        
        .choices__list--dropdown .choices__item--selectable.is-highlighted::after {
            display: none;
        }
        
        .choices__list--dropdown .choices__item--selectable.is-highlighted {
            background-color: var(--color-text);
            color: var(--color-accent);
        }
        
        .gallery__container {
            display: flex;
        }
        
        .gallery__slider-container {
            padding-top: 22px;
            width: calc(1150 / 1600 * 100%);
        }
        
        .gallery__swiper {
            overflow: hidden;
        }
        
        .gallery__swiper-button-next.swiper-button-disabled,
        .gallery__swiper-button-prev.swiper-button-disabled {
            opacity: .6;
        }
        
        .gallery__swiper-button-prev,
        .gallery__swiper-button-next {
            height: 30px;
            width: 30px;
            background-color: #666;
            border-radius: 50%;
            border-width: 0px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        
        .gallery__swiper-button-prev:hover,
        .gallery__swiper-button-next:hover {
            background-color: var(--color-highlighted);
            transition: background-color .2s ease-in-out;
        }
        
        .gallery__swiper-button-prev:focus,
        .gallery__swiper-button-next:focus {
            outline: 2px solid var(--background-color);
            transition: all .2s ease-in-out;
        }
        
        .gallery__swiper-button-prev:active,
        .gallery__swiper-button-next:active {
            background-color: var(--color-focus-active);
            transition: background-color .2s ease-in-out;
        }
        
        .btn-prev {
            background-image: url('../img/gallery/next.svg');
        }
        
        .btn-next {
            margin-right: 72px;
            background-image: url('../img/gallery/prev.svg');
        }
        
        .gallery__slider-top {
            display: inline-flex;
            align-items: center;
            position: relative;
            z-index: 100;
            margin-bottom: 32px;
            margin-left: 2px;
        }
        
        .swiper-pagination {
            height: 10px;
            top: 6px;
            color: var(--color-accent);
        }
        /* модульное окно */
        
        .swiper-slide__btn {
            position: relative;
        }
        
        .swiper-slide__btn:hover::before {
            content: '';
            position: absolute;
            top: 6%;
            left: 6%;
            bottom: 6%;
            right: 6%;
            z-index: 100;
            width: 85.8%;
            height: 85.8%;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: url('../img/gallery/modal-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .swiper-slide__btn:focus {
            outline: 2px solid var(--color-focus-active);
            outline-offset: -2px;
            transition: all .1s ease-in-out;
        }
        
        .swiper-slide__btn:active::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(A5A9A825-44DE-45C8-8EBD-70ED43DAA3B7.jpg);
            outline: 2px solid #D1A9F0;
            outline-offset: -3px;
        }
        /* Catalog */
        
        .catalog {
            padding-top: 82px;
            padding-bottom: 41px;
        }
        
        .catalog__descr {
            margin-bottom: 39px;
        }
        
        .catalog__bottom {
            display: flex;
            justify-content: space-between;
        }
        
        .catalog__tabs-content {
            width: 46.9%;
        }
        
        .catalog__accordion-content {
            width: 50%;
        }
        
        .pointer-content__artist {
            margin-bottom: 27px;
        }
        
        .pointer-content__title {
            margin: 0;
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #333333;
        }
        
        .pointer-content__time {
            display: inline-block;
            margin-bottom: 6px;
            font-size: 12px;
            line-height: 16px;
            color: var(--color-dark-grey);
        }
        
        .pointer-content__descr {
            width: 100%;
        }
        
        .pointer-content__link,
        .accordion__content-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-highlighted);
        }
        
        .pointer-content {
            display: none;
        }
        
        .pointer-content--active {
            display: block;
        }
        /* акордион */
        
        .accordion__painter-item {
            display: flex;
        }
        
        .accordion__title {
            display: inline-block;
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: var(--color-text);
        }
        
        .accordion__subtitle {
            position: relative;
        }
        
        .ui-accordion .ui-accordion-header {
            position: relative;
            padding: 41px 0;
            margin-bottom: -3px;
            border: none;
            border-top: 1px solid var(--color-small-text);
            border-bottom: 1px solid var(--color-small-text);
            background-color: transparent;
        }
        
        .ui-accordion-header-active {
            border-top: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
            color: var(--color-focus-active);
        }
        
        .ui-accordion-header-collapsed:first-child {
            border-top-color: var(--color-small-text);
        }
        
        .ui-state-focus {
            outline: none;
        }
        
        .ui-state-focus .accordion__title {
            color: var(--color-accent);
            background-color: var(--color-highlighted);
        }
        
        .ui-accordion-header:focus::before {
            background-color: #D1A9F0;
            transition: background-color .2s ease-in-out;
        }
        
        .ui-state-focus::before {
            background-color: var(--color-decor);
        }
        
        .ui-accordion-header:hover {
            z-index: 10;
            border-color: var(--color-highlighted);
            transition: background-color .2s ease-in-out;
        }
        
        .ui-accordion-header:hover::before {
            background-color: var(--color-decor);
            transition: background-color .2s ease-in-out;
        }
        
        .ui-accordion-header:hover .accordion__title {
            color: var(--color-highlighted);
            background-color: transparent;
            transition: background-color .2s ease-in-out;
        }
        
        .ui-accordion-header:active {
            z-index: 10;
            border-color: var(--color-focus-active);
            transition: background-color .2s ease-in-out;
        }
        
        .ui-accordion-header:active::before {
            outline: none;
            border: 1px solid var(--color-highlighted);
            background-color: var(--color-decor);
            transition: background-color .2s ease-in-out;
        }
        
        .ui-accordion-header:active .accordion__title {
            color: var(--color-focus-active);
            transition: color .2s ease-in-out;
        }
        
        .accordion__painter-list {
            column-count: 3;
            min-height: 291px;
            width: 100%;
            border: none;
        }
        
        .accordion__painter-wrap {
            display: flex;
            width: 100%;
            border-top: 1px solid var(--color-small-text);
            z-index: 10;
        }
        
        .ui-widget button {
            font-family: 'OpenSans', sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
        }
        
        .accordion__subtitle::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: var(--color-grey);
            transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
        }
        
        .accordion__subtitle::after {
            content: '';
            position: absolute;
            top: 47%;
            right: 18px;
            width: 12px;
            height: 12px;
            border-bottom: 1px solid var(--background-color);
            border-right: 1px solid var(--background-color);
            transform: translateY(-50%) rotate( 45deg);
            transition: transform 0.3s ease-in-out;
        }
        
        .ui-accordion-header-active::after {
            transform: rotate(225deg);
        }
        
        .ui-accordion .ui-accordion-content {
            padding: 25px 0 22px 0;
            border: none;
        }
        
        .accordion__content-left {
            position: relative;
            margin-right: 24px;
            width: 34.4%;
            height: 189px;
            border: 2px solid #B7B7B7;
        }
        
        .accordion__content-left::before {
            content: '';
            position: absolute;
            top: 12px;
            right: 12px;
            bottom: 12px;
            left: 12px;
            display: inline-block;
            background-color: #B7B7B7;
        }
        
        .accordion__content-right {
            padding-top: 41px;
            width: 35%;
        }
        
        .accordion__content-descr {
            margin: 0;
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 22px;
            color: var(--background-color);
        }
        
        .accordion__content-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
        
        .ui-widget-content .accordion__painter-link {
            color: var(--background-color);
        }
        
        .ui-widget-content .accordion__content-link {
            color: var(--color-highlighted);
        }
        
        .accordion__content-link:focus {
            padding: 1px;
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-focus-active);
            transition: all .2s ease-in-out;
        }
        
        .ui-accordion-header-icon {
            display: none;
        }
        
        .accordion__painter-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
        }
        
        .ui-state-active {
            color: var(--background-color);
        }
        
        .accordion__painter-link {
            display: block;
            height: 33px;
        }
        
        .accordion__painter-link:hover {
            color: var(--color-highlighted);
            border-bottom: 1px solid var(--color-highlighted);
            transition: all .2s ease-in-out;
        }
        
        .accordion__painter-link:focus {
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-focus-active);
            transition: all .1s ease-in-out;
        }
        
        .accordion__painter-link:active {
            color: #7943A4;
            border: none;
            background-color: transparent;
            transition: all .2s ease-in-out;
        }
        /* EVENTS */
        
        .events {
            padding-top: 41px;
            padding-bottom: 40px;
        }
        
        .events__container {
            position: relative;
        }
        
        .events__btn-next {
            position: absolute;
            top: 407px;
            right: -8px;
            z-index: 10;
            height: 50px;
            width: 50px;
            background-color: #ECECEC;
            border-radius: 50%;
            border-width: 0px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        
        .events__btn-next::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 18px;
            width: 12px;
            height: 12px;
            border-bottom: 1px solid var(--background-color);
            border-right: 1px solid var(--background-color);
            transform: translateY(-50%) rotate( -45deg);
            transition: transform 0.3s ease-in-out;
        }
        
        .events__btn-next:hover {
            background-color: #D1A9F0;
            transition: background-color .2s ease-in-out;
        }
        
        .events__btn-next:focus {
            background-color: var(--color-grey);
            outline: 2px solid var(--color-highlighted);
            transition: background-color .2s ease-in-out;
        }
        
        .events__btn-next:active {
            background-color: #D1A9F0;
            outline: 3px solid var(--color-highlighted);
            transition: background-color .2s ease-in-out;
        }
        
        .events__swiper {
            overflow: hidden;
        }
        
        .events__swiper-pagination {
            display: none;
            text-align: center;
        }
        
        .swiper-pagination-bullet {
            height: 10px;
            width: 10px;
            background-color: #666;
        }
        
        .event__block {
            margin-bottom: 10px;
        }
        
        .event__block-text-small {
            display: block;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: var(--color-dark-grey);
        }
        
        .event__subtitle {
            margin-bottom: 8px;
        }
        
        .event__descr {
            margin-bottom: auto;
            width: 100%;
        }
        
        .event__link {
            display: inline-block;
            font-size: 16px;
            line-height: 32px;
            color: var(--color-highlighted);
            border-bottom: 1px solid currentColor;
        }
        
        .event__link:hover {
            color: var(--color-focus-active);
            transition: color .2s ease-in-out;
        }
        
        .event__link:focus {
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-highlighted);
            transition: all .2s ease-in-out;
        }
        
        .event__link:active {
            color: var(--color-text);
            background-color: transparent;
            transition: color .2s ease-in-out;
        }
        
        .event__text {
            position: relative;
            top: -3px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 50px 40px 49px;
            min-height: 399px;
            border: 1px solid var(--color-small-text);
            border-top: none;
        }
        /* PROJECT */
        
        .projects {
            padding-top: 40px;
            padding-bottom: 81px;
        }
        
        .projects__link {
            color: var(--color-highlighted);
        }
        
        .projects__link:hover {
            color: var(--color-highlighted);
            border-bottom: 1px solid var(--color-highlighted);
        }
        
        .projects__link:focus {
            outline: none;
            color: var(--color-accent);
            background-color: var(--color-highlighted);
        }
        
        .projects__link:active {
            color: var(--color-focus-active);
            border-bottom: 1px solid var(--color-focus-active);
            background-color: transparent;
        }
        
        .projects__descr {
            margin-bottom: 19px;
        }
        
        .projects__subtitle {
            margin-bottom: 23px;
        }
        
        .tooltip {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            color: var(--color-accent);
            background-color: var(--color-highlighted);
            border-radius: 50%;
            cursor: pointer;
        }
        
        .tooltip:hover {
            color: var(--background-color);
            outline: 1px solid var(--color-focus-active);
            background-color: var(--color-hover);
        }
        
        .tooltip:focus {
            outline: none;
            background-color: var(--color-accent);
            color: var(--background-color);
            outline: 1px solid var(--color-focus-active);
        }
        
        .tooltip:active {
            color: var(--color-accent);
            background-color: var(--color-focus-active);
        }
        
        .tippy-box {
            background-color: var(--color-highlighted);
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: var(--color-accent);
            border-radius: 0;
        }
        
        .tippy-arrow {
            padding: 8px 11px;
            color: var(--color-highlighted);
        }
        
        #tippy-1,
        #tippy-2 {
            width: 264px;
        }
        
        #tippy-3 {
            width: 232px;
        }
        
        .projects__slider {
            display: flex;
            align-items: center;
            position: relative;
        }
        
        .projects__swiper {
            margin: 0 auto;
            padding: 0 15px;
            width: calc(1480 / 1600 * 100%);
            overflow: hidden;
        }
        
        .projects__item-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 148px;
            padding: 32px 60px;
            border: 1px solid var(--color-small-text);
            outline: none;
        }
        
        .projects__item-link:focus {
            border: 1px solid var(--color-highlighted);
        }
        
        .projects__item-link:active {
            border: 1px solid var(--color-highlighted);
        }
        
        .button-prev,
        .button-next {
            height: 30px;
            width: 30px;
            background-color: #ECECEC;
            border-radius: 50%;
            border-width: 0px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        
        .button-prev:hover,
        .button-next:hover {
            background-color: #D1A9F0;
        }
        
        .button-prev:focus,
        .button-next:focus {
            outline: 2px solid var(--color-highlighted);
            background-color: var(--color-grey);
        }
        
        .button-prev:active,
        .button-next:active {
            background-color: #D1A9F0;
            outline: 2px solid var(--color-highlighted);
        }
        
        .swiper-button-disabled {
            opacity: .6;
        }
        
        .projects__next {
            background-image: url('../img/projects/prev.svg');
        }
        
        .projects__prev {
            background-image: url('../img/projects/next.svg');
        }
        
        .projects__item-image {
            filter: grayscale(100%);
            opacity: .6;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            transition: filter .2s ease-in-out, opacity .2s ease-in-out;
        }
        
        .projects__item-link:hover img {
            filter: grayscale(0);
            opacity: 1;
            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            -ms-filter: grayscale(0);
            -o-filter: grayscale(0);
            transition: filter .2s ease-in-out, opacity .2s ease-in-out;
        }
        
        .feedback {
            padding-top: 40px;
            padding-bottom: 33px;
            border: 1px solid var(--color-small-text);
        }
        
        .feedback__wrapper {
            display: flex;
            align-items: center;
            max-width: 1630px;
            margin: 0 auto;
            padding: 0 15px;
        }
        
        .feedback__address {
            margin-right: 80px;
            margin-top: -5px;
            width: 16.1%;
        }
        
        .feedback__address-text {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: var(--color-text);
        }
        
        .feedback__form {
            margin-right: auto;
        }
        
        .js-validate-error-label {
            margin: 0;
            width: 270px;
        }
        
        .form__contacts {
            margin-right: 14px;
            margin-bottom: 10px;
            padding: 9px 43px 8px 23px;
            width: 270px;
            font-size: 16px;
            line-height: 32px;
            border: 1px solid var(--color-text);
            border-radius: 100px;
        }
        
        .feedback__form-label {
            position: relative;
        }
        
        .js-validate-error-label {
            position: absolute;
            top: -35px;
            left: 7px;
            right: 0;
            bottom: 0;
            width: 260px;
            font-size: 13px;
        }
        
        .form__contacts:hover {
            background-color: #e4e4e4;
        }
        
        .form__contacts:focus {
            border: 1px solid var(--background-color);
        }
        
        .form__btn {
            padding: 12px 34px;
            border: 2px solid var(--color-highlighted);
            text-align: center;
            color: var(--color-highlighted);
        }
        
        .mobile {
            display: none;
        }
        
        .form__btn:hover {
            background-color: var(--color-highlighted);
            color: var(--color-accent);
            transition: all .1s ease-in-out;
        }
        
        .form__btn:focus {
            color: var(--color-highlighted);
            background-color: transparent;
            outline-offset: 2px;
            outline: 2px solid var(--color-hover);
        }
        
        .form__btn:active {
            color: var(--color-accent);
            background-color: var(--color-focus-active);
            border: 2px solid #D1A9F0;
            outline: none;
        }
        
        .feedback__social {
            display: flex;
            flex-direction: column;
        }
        
        .feedback__social-list {
            display: flex;
        }
        
        .feedback__social-link {
            display: inline-block;
        }
        
        .feedback__social-link:hover {
            opacity: .5;
        }
        
        .feedback__social-link:focus {
            outline: none;
            opacity: .5;
        }
        
        .feedback__social-link:active {
            opacity: 1;
        }
        
        .feedback__social-icon:active {
            opacity: 1;
            outline-offset: -1px;
            outline: 1px solid var(--color-focus-active);
            border-radius: 100px;
        }
        
        .feedback__social-text {
            display: inline-block;
            padding-bottom: 5px;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: var(--color-text);
        }
        
        .feedback__social-item:not(:last-child) {
            margin-right: 20px;
        }
        
        #map {
            width: 100%;
            height: 700px;
        }
        
        [class*="ground-pane"] {
            filter: grayscale(1);
        }
        
        [class*="copyrights-pane"] {
            display: none;
        }
        /*FOOTER*/
        
        .footer {
            padding: 48px 0;
            background-color: var(--background-color);
        }
        
        .footer__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .footer__list {
            display: flex;
        }
        
        .footer__item:not(:last-child) {
            margin-right: 20px;
        }
        
        .footer__item-link {
            display: inline-block;
            width: 45px;
            height: 45px;
            color: var(--color-small-text);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        .footer__item-link:hover {
            color: var(--color-accent);
        }
        
        .footer__item-link:focus {
            outline: none;
            color: var(--color-accent);
        }
        
        .footer__item-link:active {
            color: var(--color-focus-active);
        }
        
        .vk,
        .inst,
        .fb {
            fill: currentColor;
        }
        /* Модальное окно */
        
        .modal__overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;
        }
        
        .modal__content {
            display: none;
            max-width: 900px;
            height: 500px;
            background-color: var(--color-accent);
        }
        
        .modal__content-wrapper {
            display: flex;
            height: 100%;
        }
        
        .modal__content-image {
            height: 100%;
            width: 400px;
        }
        
        .modal__content-wrap {
            position: relative;
            padding: 121px 50px;
            width: 500px;
        }
        
        .modal__btn {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
        }
        
        .modal__btn:hover>.modal__btn-line {
            background-color: var(--color-highlighted);
        }
        
        .modal__btn:focus>.modal__btn-line {
            outline: none;
            background-color: var(--color-highlighted);
        }
        
        .modal__btn:active>.modal__btn-line {
            background-color: var(--color-focus-active);
        }
        
        .modal__btn-line:first-child {
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 1px;
            background-color: var(--background-color);
            transform: rotate(45deg);
        }
        
        .modal__btn-line:last-child {
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 1px;
            background-color: var(--background-color);
            transform: rotate(-45deg);
        }
        
        .modal__content-title {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: var(--color-text);
        }
        
        .modal__content-subtitle {
            display: block;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-text);
        }
        
        .modal__content-data {
            display: inline-block;
            margin-bottom: 50px;
            font-size: 12px;
            line-height: 16px;
            color: #969696;
        }
        
        .modal__content-descr {
            margin: 0;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-text);
        }
        
        .content {
            margin-bottom: 30px;
        }
        
        .modal__overlay--visible {
            opacity: 1;
            visibility: visible;
            transition: all .3s ease-in-out;
        }
        
        .modal__content--visible {
            display: block;
        }
        
        .disable-scroll {
            position: fixed;
            left: 0;
            top: 0;
            overflow: hidden;
            height: 100vh;
            width: 100%;
        }